In [2]:
import pandas as pd
import numpy as np
import operator

testSet = [[7.2, 3.6, 5.1, 2.5]]
test = pd.DataFrame(testSet)
test

     0    1    2    3
0  7.2  3.6  5.1  2.5

In [15]:
df = pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [55]:
def l2_norm(vector1, vector2):
    """
    Input:
        vector1, vector2: numpy arrays having the same shape
    Output:
        distance: A float number represents for L2 norm between 2 vectors
    """
    vector1 = vector1.reshape(vector2.shape)
    assert vector1.shape == vector2.shape
    distance = np.sqrt(np.sum(np.square(vector1 - vector2)))
    return distance

In [34]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [54]:
df.loc[0, 'SepalLengthCm':'PetalWidthCm'].values

array([5.1, 3.5, 1.4, 0.2], dtype=object)

In [66]:
def knn_classifier(train_set, y, test_sample, K):
    """
    Input:
        train_set: Training data
        y: ground truth values of training data (label)
        test_sample: A test instance
        K: The number of nearest neighbors
    Output:
        (predicted_label, neighbors)
    """
    n_samples = train_set.shape[0]
    distances = []
    for i in range(n_samples):
        distance = l2_norm(test_sample, train_set.loc[i, 'SepalLengthCm':'PetalWidthCm'])
        distances.append((i, distance))

    sorted_distances = sorted(distances, key=lambda x: x[1])

    neighbors = []
    for i in range(K):
        neighbors.append(sorted_distances[i][0])

    n_votes = {}
    for i in range(K):
        neighbor_label = y[neighbors[i]]
        n_votes[neighbor_label] = n_votes.get(neighbor_label, 0) + 1
    
    sorted_votes = sorted(n_votes.items(), key=lambda x: x[1], reverse=True)

    predicted_label = sorted_votes[0][0]
    
    return predicted_label, neighbors

In [67]:
train_set = df.loc[:, 'SepalLengthCm':'PetalWidthCm']
y = df.loc[:, 'Species']
test_sample = np.array([[7.2, 3.6, 5.1, 2.5]])
K = 3

In [68]:
knn_classifier(train_set, y, test_sample, K)

('Iris-virginica', [141, 139, 120])

In [59]:
from sklearn.neighbors import KNeighborsClassifier


neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(df.loc[:,'SepalLengthCm':'PetalWidthCm'], df['Species'])

KNeighborsClassifier(n_neighbors=3)

In [60]:
print(neigh.predict(test_sample))

['Iris-virginica']

/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [61]:
print(neigh.kneighbors(test_sample)[1])

[[141 139 120]]

/opt/anaconda3/envs/pytorch/lib/python3.9/site-packages/sklearn/base.py:445: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(